<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
    <title>Users</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="tab-container">
    <table class="table-bordered">
        <thead>
        <tr>
            <th scope="col"><i> # </i></th>
            <th scope="col"><i> Surname </i></th>
            <th scope="col"><i> Name </i></th>
            <th scope="col"><i> Patronymic </i></th>
            <th scope="col"><i> Email </i></th>
            <th scope="col"><i> Role </i></th>
            <th scope="col"><i> Change Role </i></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user,stat:${users}">
            <td th:text="${stat.count}+(${page}-1)*${scale}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.patronymic}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <form action="#" th:action="@{/private/users/update/{id}(id=${user.id})}"
                      method="post">
                    <select name="role">
                        <option th:each="role:${roles}" th:value="${role}" th:text="${role}"/>
                    </select>
                    <button type="submit" class="btn btn-info">Change_role</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/footer::footer"></div>
</div>
</body>
</html>